footer {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    min-height: 90px;
    ul{
        display: flex;
        flex: 1;
        list-style: none;
        justify-content: space-around;
    }
    h1{
        flex:3;
    }
}
   